<div class="application">
    <h1>Welcome To The Zoo (Application route, or root of application)</h1>
    {{#link-to 'animals'}}View All Animals{{/link-to}} {{#link-to 'planetarium'}}View the planetarium{{/link-to}}
    {{outlet}}
</div>